.registration {
  border: 2px solid gray;
  border-radius: 15px;
  width: 400px;
  margin: 20px auto 40px auto;
  padding: 10px 100px;
  background-color: white;
  box-shadow: 10px 9px 13px gray;
}

.fullTableButton {
  margin: 20px 700px;
}

.buttons {
  padding-top: 10px;
  margin-left: 1250px;
}
