<div class="buttons">
  <div *ngIf="!isSignIn()">
    <button type="button" routerLink="/registration" class="btn btn-light">registration</button> &nbsp; &nbsp;
    <button type="button" routerLink="/sign/in" class="btn btn-light">sign in</button>
  </div>
  <div *ngIf="isSignIn()">
    <button type="button" class="btn btn-light" (click)="logOut()">log out</button>
  </div>
</div>
<div class="rosterTable">
  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th scope="col">playerid</th>
      <th scope="col">jersey</th>
      <th scope="col">name</th>
      <th scope="col">surname</th>
      <th scope="col">position</th>
      <th scope="col">date</th>
      <th scope="col">weight</th>
      <th scope="col">height</th>
      <th scope="col">birthcity</th>
      <th scope="col">birthstate</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let roster of rosters">
      <td>{{roster.playerid}}</td>
      <td>{{roster.jersey}}</td>
      <td>{{roster.fname}}</td>
      <td>{{roster.sname}}</td>
      <td>{{roster.position}}</td>
      <td>{{roster.birthday}}</td>
      <td>{{roster.weight}}</td>
      <td>{{roster.height}}</td>
      <td>{{roster.birthcity}}</td>
      <td>{{roster.birthstate}}</td>

      <!--MODER-->
      <td *ngIf="role == 'MODER'">
        <button type="submit" class="btn btn-primary" (click)="edit(roster.playerid)">Edit</button>
      </td>

      <!--ADMIN-->
      <td *ngIf="role == 'ADMIN'">
        <button type="submit" class="btn btn-success" (click)="add()">Add</button>
      </td>
      <td *ngIf="role == 'ADMIN'">
        <button type="submit" class="btn btn-danger" (click)="delete(roster.playerid)">Delete</button>
      </td>

    </tr>
    </tbody>
  </table>
</div>
