<div class="sing_in">
  <form [formGroup]="signIn">
    <div class="form-row">
      <div class="form-group">
        <label>email</label>
        <input type="email" class="form-control" id="email"
               formControlName="email"
               name="email" #email>
        <div class="alert alert-danger"
             *ngIf="signIn?.controls['email'].invalid && signIn?.controls['email'].touched">
          Incorrect email
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <label>password</label>
        <input type="password" class="form-control" id="password"
               formControlName="password" name="password" #password>
        <div class="alert alert-danger"
             *ngIf="signIn.controls['password'].invalid && signIn.controls['password'].touched">
          Incorrect password
        </div>
      </div>
    </div>
    <div class="alert alert-danger"
         *ngIf="errors != undefined">
      {{errors}}
    </div>
    <div class="submit">
      <button type="submit" class="btn btn-primary" [disabled]="signIn.invalid"
              (click)="submit(email.value, password.value)">Submit
      </button>
    </div>
  </form>
  <div class="buttons">
    <a href="http://ec2-18-217-91-78.us-east-2.compute.amazonaws.com:8081/api/oauth2/authorize/google?redirect_uri=http://ec2-18-217-91-78.us-east-2.compute.amazonaws.com:4301/oauth">
      <button class="btn btn-primary">Google</button>
    </a>
    &nbsp;
    <button class="btn btn-primary" routerLink="/registration">Registration</button>
  </div>
</div>
